<div id="calendar-edit-event" data-role="view" data-transition="fade">
    <header data-role="header">
        <div data-role="navbar">
            <a class="nav-button" data-align="left" href="#views/account/login.html" data-role="button"><span class="icon-back"></span></a>
            
			<span data-role="view-title">
				Forgot Password
			</span>
        	<div class="clear"></div>
		</div>
	</header>
	
	<div class="wrapper">
		<form action="" class="form">
			<ul>
				<li>
				<p>Enter your email address and we will send you a link to reset your password.</p>
				<br />
				</li>
				<li>
					<input type="text" placeholder="Email*"  />
					<a href="#views/account/register.html" data-role="button" class="register-btn green-btn" style="width:100%" >Recover Password</a>
				</li>
				
			</ul>
		</form>
	</div>
	
	<div data-role="footer"></div>
</div>