<div id="accounts-login-view"
			 data-role="view"
			 data-title="Upgrade"
			 data-layout="default-layout"
			 data-transition="fade">
	
	<div class="wrapper">
		<div class="center">
			<h1 class="base-text small-margin">Upgrade Now!</h1>
			<h3>Only $1 member/month</h3>
			<br />
			<a data-role="button" data-rel="modalview" href="#modalview-upgrade" id="modalview-open-button" class="btn">Show Me How</a>
			<br />
			
			<p>Your maximum 5 free members has been reached.</p>
		</div>
		
	</div>
</div>

<div data-role="modalview" id="modalview-upgrade" style="width: 90%;">
    <div data-role="header" data-title="Upgrade">
        
    </div>
	
	<div class="wrapper">
		
		<h2 class="center base-text">Upgrade in 3 Easy Steps</h2>
		<br />
		<div style="
			padding: 2em;
			background: #DAE795;
			border-radius: 5px;
			margin: 0 auto;
			line-height: 1.5em;">
			<ul style="list-style:inside;">
				<ol>
					<li>Go to Alpha Calendar Website</li>
					<li>Sign into your account</li>
					<li>Click <strong>"Upgrade"</strong></li>
				</ol>
			</ul>
			<br />
			<hr />
			<br />
			<p>
				Only $1 per member each month, join our subscription plan today. 
			</p>
		</div>
	
		<br />
		<a data-click="closeModalViewUpgrade" id="modalview-reg-button" type="button" data-role="button" class="btn">Close</a>
	</div>
</div>
<script>
    function closeModalViewUpgrade() {
        $("#modalview-upgrade").kendoMobileModalView("close");
    }
</script>

